* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-google {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* Background styles */
body {
  background-color: #f4d9d0;
  background-image: radial-gradient(at 47% 33%, #921a40 0, transparent 59%),
    radial-gradient(at 82% 65%, #d9abab 0, transparent 55%);
  background-repeat: no-repeat;
  background-size: cover; /* Ensure the background covers the whole page */
  min-height: 100vh; /* Ensures the body takes at least the full viewport height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;
}

/* Card styles */
.card {
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(255, 251, 251, 0.315);
  border-radius: 12px;
  border: px solid white;
  color: white;
  font-weight: bold;
  width: 80%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}

h1{
  font-size: 70px;
  text-align: center;
  color: white;
}

.box1{
  display: flex;
  font-size: 30px;
  width: 100%;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
  margin-top: 50px;
}

.box1 >p> span{
  display: block;
  font-size: 80px;
}